@import "tailwindcss";

@theme {
     /*------------------COLORS------------------*/

    --color-frosted: var(--color-green-500);
    --color-surface-100: #ffffff;
    /* Pure foreground: bright white cards, inputs, menus */
    --color-surface-200: #f8fafc;
    /* Very subtle white/gray: for table lines or secondary elements */
    --color-surface-300: #f1f5f9;
    /* Light structuring gray: for large background containers */
    --color-surface-400: #e2e8f0;
    /* Page background and borders: gives solid grounding and separates blocks */

    /* Bright text */
    --color-text-main: #0f172a;
    /* Very dark slate, almost black */
    --color-text-muted: #475569;
    /* Medium gray for labels and subtitles */



    /*------------------SIZES------------------*/

    --width-base : clamp(18.75rem,9.491rem + 46.296vw,50rem);
    /*The fluid  of all the component inside the #app in index.html*/

    --width-clamp-input : clamp(7.5rem,0.658rem + 17.105vw,15.625rem);
    /*width of the inputs in the clamp components*/

    --spacing-py-section : clamp(1rem,0.630rem + 1.852vw,2.25rem);
    /*vertical padding value of the section tag components*/

    --spacing-px-section : clamp(0.5rem,-0.019rem + 2.593vw,2.25rem);
    /*horizontal padding value of the section tag in components*/

    --spacing-home : clamp(1.875rem,0.764rem + 5.556vw,5.625rem);
    /*gap between the elements in the header in app.vue*/


     /*------------------TEXT'S SIZES------------------*/

    --text-header : clamp(1rem,0.741rem + 1.296vw,1.875rem);
    /*The size's value of the header*/

     --text-home : clamp(0.75rem,0.676rem + 0.370vw,1rem);
     /*size of the text in the home page*/

     --text-clamp : clamp(0.8125rem,0.655rem + 0.395vw,1rem);
     /*size of the text in the whole clamp component*/
}

@layer {
    input {
        @apply rounded-2xl bg-surface-100 outline-none py-1.5 px-3 sm:w-clamp-input
    }
}
