@import "tailwindcss";

@theme {
     /*------------------COLORS------------------*/

    --color-frosted: var(--color-green-500);
    --color-surface-100: #ffffff;
    /* Pure foreground: bright white cards, inputs, menus */
    --color-surface-200: #f8fafc;
    /* Very subtle white/gray: for table lines or secondary elements */
    --color-surface-300: #f1f5f9;
    /* Light structuring gray: for large background containers */
    --color-surface-400: #e2e8f0;
    /* Page background and borders: gives solid grounding and separates blocks */

    /* Bright text */
    --color-text-main: #0f172a;
    /* Very dark slate, almost black */
    --color-text-muted: #475569;
    /* Medium gray for labels and subtitles */



    /*------------------SIZES------------------*/

    --width-base : clamp(18.75rem,9.491rem + 46.296vw,50rem);
    /*The fluid  of all the component inside the #app in index.html*/


     /*------------------TEXT'S SIZES------------------*/

    --text-header : clamp(1rem,0.741rem + 1.296vw,1.875rem);
    /*The size's value of the header*/
}
